.mynavbar {
    margin-left: 89%;
    margin-right: 89%;
}

.btnAddMargin {
    margin-left: 10px;
}

.listContainer {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 0;
    margin: 0;
}

.nomp {
    margin: 0;
    padding: 0;
}

.smaller {
    font-size: smaller;
}

.lighter {
    font-weight: lighter;
}

.bigger {
    font-size: x-large;
}

.bolder {
    font-weight: bolder;
}

.btnEditmargin {
    margin-right: 10PX;
    margin-left: 10px;
}